
@using AnimalShelter.Models;
<h1>List of pets</h1>
<ul>

@if (Model.Count == 0)
{
  <p>You have no pets in your  list!</p>
}
@if(@Model.Count != 0)
{
  @foreach (Pet pet in Model)
{

  <li><strong>Name:</strong>@pet.GetName()
  <ol>
  <strong>Type:</strong>@pet.GetType()
  <strong>Sex:</strong> @pet.GetSex()
  <strong>Date of admittance:</strong>@pet.GetDate()
  <strong>Breed:</strong> @pet.GetBreed()
</ol>
 </li>





}
}

  @* <p><a href="/sortascending">Sort date ascending</a></p>
    <p><a href="/sortdescending">Sort date descending</a></p> *@

<form action="/sortascending" method="post">
 <button type="submit">Sort date ascending</button>
</form>

<form action="/sortdescending" method="post">
 <button type="submit">Sort date descending</button>
</form>

<form action="/petFilterType" method="post">
    <label for="filtertype">Filter by type</label>
    <input id="filtertype" name="filtertype" type="text"> <button id="button" type="submit">Find</button><br>

  </form>


  <form action="/petFilterSex" method="post">
      <label for="filtersex">Filter by sex</label>
      <input id="filtersex" name="filtersex" type="text"> <button id="button" type="submit">Find</button><br>

    </form>

    <form action="/sortalpa" method="post">
     <button type="submit">Sort alpha</button>
    </form>
